name: Cookbook uploading

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - readme.md
      - LICENSE
      - .gitignore

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: install-chefdk
      run: |
        wget https://packages.chef.io/files/stable/chefdk/4.9.7/ubuntu/20.04/chefdk_4.9.7-1_amd64.deb
        sudo apt install ./chefdk_4.9.7-1_amd64.deb
    - name: Syntax Check
      run: |
        foodcritic .
        cookstyle .
  upload:
    runs-on: [self-hosted, linux, X64, ets-cloud]
    steps:
    - uses: actions/checkout@v2
    - name: cookbook-upload
      env:
        CLIENT_KEY: ${{ secrets.CHEF_SANDBOX_KEY }}
      run: |
        echo "$CLIENT_KEY" > chef_sanbox_key.pem
        knife cookbook upload generic-test-ydk -u yudongkadm -k chef_sanbox_key.pem -s "https://chefserversandbox.platform.manulife.io/organizations/manulife-sandbox"
        rm chef_sanbox_key.pem
