name: Cookbook uploading

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - LICENSE
      - .gitignore
jobs:
  publish:
    runs-on: [self-hosted, linux, X64, ets-cloud]
    steps:
    - uses: actions/checkout@v2
    - name: Syntax Check
      run: |
        foodcritic .
        cookstyle .
    - name: cookbook-upload
      env:
        CLIENT_KEY: ${{ secrets.CHEF_SANDBOX_KEY }}
      run: |
        echo "$CLIENT_KEY" > chef_sanbox_key.pem
        knife cookbook upload generic-test-ydk -u yudongkadm -k chef_sanbox_key.pem -s "https://chefserversandbox.platform.manulife.io/organizations/manulife-sandbox" -o PATH:./
        rm chef_sanbox_key.pem
        pwd
        ls -l ./

