on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
    - name: custom action
      uses: actions/checkout@v2
      with:
        repository: manulife-ets/test_action
        ref: v1
        path: .github/actions/test_action
    - name: test 
      uses: ./.github/actions/test_action
      with:
        who-to-greet: 'Mona the Octocat'
    - run: echo random-number ${{ steps.foo.outputs.random-number }}
      shell: bash
