on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
      - name: custom action
        uses: actions/checkout@v2
        with:
          repository: manulife-ets-sandbox/test_action
          ref: v1.1
          path: .github/actions/test_action
          token: ${{ secrets.ACTION_PAT }}
      - name: Run custom action 
        uses: ./.github/actions/test_action
        with:
          who-to-greet: 'Mona the Octocat'
      - run: echo random-number ${{ steps.foo.outputs.random-number }}
        shell: bash
