name: Cookbook uploading

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - LICENSE
      - .gitignore
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: customized action
      id: test_action
      uses: manulife-ets-sandbox/test_action@v1.0
      with:
        who-to-greet: 'HAHAHA' 
    - name: Get Output
      run: echo "The time was ${{ steps.test_action.outputs.timestamp }}"
