on: 
  push:
    branches: [develop]
jobs:
  validate_cookbook:
    runs-on: [self-hosted, linux, X64, ets-cloud]
    steps:
      - name: retrieve secrets
        id: secrets
        uses: manulife-ets-sandbox/vault_retrieve_secret@testv1
        with:
          vault_address: https://vault.na.platform.manulife.io:443
          name_space: ETS-CLOUDPLATFORM-IAC-3365
          approle_id: ${{ secrets.VAULT_CHEF_APPROLE_ID }}
          secret_id: ${{ secrets.VAULT_CHEF_SECRET_ID }}
          secret_path: chef_delivery
          key_name: chef_delivery_key
      - name: validate cookbook
        run: |
          echo ${{ steps.secrets.outputs.chef_delivery_sandbox }} 
